accelerate==0.31.0
faiss-cpu==1.8
gradio==4.26.0
llama-index==0.12.41
regex==2024.5.15
tiktoken==0.7.0
torch==2.8.0
tree-sitter<0.22.0
tree-sitter-languages==1.10.2
tqdm==4.66.4
transformers==4.56.2
zhipuai~=2.0
